<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤ譲渡情報</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("SELECT * FROM crops WHERE NOT (give_for = '自家消費');") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、「自家消費」ではない譲渡先のゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result_bad = connection.exec("SELECT * FROM crops WHERE (quality = 'false');") %>
    <% data_bad = [] %>
    <% result_bad.each do |record_bad| %>
      <%  data_bad << "ゴーヤの大きさ：#{record_bad["weight"]}　売った相手：#{record_bad["give_for"]}" %>
    <% end %>
    <form action="goya_bad.cgi" method="POST">
       下記のボタンを押すと、品質が悪いゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_bad" value="<%= data_bad.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
